@media screen and (max-width: 768px){
   
   /*** Header ***/
    #header .nav{
        display: none;
    }
    #header .icon{
        display: block;
    }
    
    /*** Section demo-app ***/

    #demo-app .col.first .col{
        width: 100%;
    }
    #demo-app .col.first .col:last-child .card{
        justify-content: left;
    }
    
    #demo-app .col.first img{
        position: relative;  
    }
    #demo-app .col .card h4{
        font-size: 20px; 
    }


    /*** Section planning ***/
    #planning .row >.col {
        width: 100%;
    }


    /*** Section testimonials ***/
    #testimonials .testimonials-foto > div{
        height: 150px;
        width: 150px;
    }



    /*** Section benefits ***/

    #benefits .col{
        width: 50%;
    }


    
    /*** Section about-us ***/

    #about-us .col-right .about-foto{
        height: 180px;
        width: 180px;
    }
    #about-us .col-right .foto-container .quote-left{
        font-size: 56px;
    }

}