@media screen and (max-width: 576px){
    /** header **/
    #header{
        min-width: 310px;
    }

    /*** Section demo-app ***/
    #demo-app .col.first{
        width: 100%;
    }
    #demo-app .col{
        width: 100%;
    }
    #demo-app .col.first .col:last-child .card{
        justify-content: center;
    }



    /*** Section testimonials ***/
    .testimonials-card{
        flex-direction: column;
        text-align: center;  
    }
    .testimonials-foto{
        width: 100%;   
    }
    .testimonials-description{
        width: 100%;
    }
    #testimonials .testimonials-foto > div{
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }

    /*** Section benefits ***/

    #benefits .col{
        width: 100%;
    }



    /*** Section about-us ***/

    #about-us .col-left{
        width: 100%;
    }
    #about-us .col-right {
        width: 100%;
    }
    #about-us .col-left .card > h2{
        line-height: normal;
    }

    .card{
        min-width: 280px;
    }
    section:nth-last-of-type(odd){
        min-width: 310px;
    }
    #footer{
        min-width: 310px;
    }
}