:root {
  --header-height: 80px;
  --footer-height: 220px;
  
  
}

/** Reset **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}



/** Grid **/
.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*debug*/
  border: 1px dashed red;
}
.row{
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
 
  
}
.col{
  padding: 15px;
}





/** Utils **/

.dsp-flex{
  display: flex;
}
.card{
  
  width: 100%;
  border-radius: 25px;
  /*debug*/
  min-height: 300px;
  border: 1px dashed black;
  

}


/** Debug **/
section{
  padding: 50px 0;
  min-height: calc(100vh - var(--header-height));

}




/** HEADER **/
#header{
  min-height: var(--header-height);
  background-color: rgb(53, 132, 253);
  color: white;
}
#header .container{
  justify-content: space-between;
  align-items: center;
 
}
#header .logo,
#header .nav,
#header .icon{
  padding: 0 25px;
  height: var(--header-height);
  line-height: var(--header-height);
}
#header .logo img{
 padding:20px 0;
}
#header  li{
  margin-right: 15px;
}
#header ul li:last-child a{
  color: rgb(35, 35, 35);
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;

}
#header .icon{
  font-size: 20px;
  display:none ;
}



/** MAIN **/

/** main generic **/
section:nth-last-of-type(odd){
  background-color: rgb(151, 146, 228);
}

/*** Section demo-app ***/
#demo-app .col .card{
  background-color: rgb(181, 221, 255);

}

#demo-app .col.first{
  width: calc(100% / 3*2 );
}

#demo-app .col{
  width: calc(100% /3);
  
}
#demo-app .col .card{
  height: 100%;
}
#demo-app .col.first .col{
  width: 50%;
}
/**Section demo-app card style **/
#demo-app .col:last-child .card{
display: flex;
justify-content: center;
position: relative;
}
#demo-app .col.first img{
  position: absolute;
  bottom: -56px;
  width: 280px; 
}
#demo-app .card:last-child > *{
  padding: 20px 5px;
  color: rgb(35, 35, 35);
  line-height: 30px;
}
#demo-app .col:first-child .card{
  text-align: left;
}
#demo-app .col:first-child .card h4{
  font-size: 24px;
  color: rgb(53, 132, 253);
}
#demo-app .col .card{
  text-align: center;
}
#demo-app .col .card h4{
  font-size: 24px;
  color: rgb(53, 132, 253);
}
#demo-app .col .card h3 i{
  font-size: 80px;
  color: rgb(53, 132, 253);
}
#demo-app .col .card li{
  color: rgb(255, 255, 255);
  background-color: rgb(53, 132, 253);
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 20px; 
}
#demo-app .col .card li  a > * {
  margin-left: 10px;
  font-size: 18px;
  letter-spacing: 3px;
}



/*** Section planning ***/
#planning .row >.col{
  width: 50%;

}
#planning .container > .row {
  align-items: flex-end;
}
#planning .row.dsp-flex{
  flex-direction: column;
  
}
#planning .row.dsp-flex .col{
  width: 100%;
  
}


/*** Section testimonials ***/

#testimonials .row{
  flex-direction: column;
}
.testimonials-card{
  display: flex;
}
.testimonials-foto{
  width: 30%;
  border: 1px dashed red;
}
.testimonials-description{
  width: 70%;
  border: 1px dashed red;
}







/*** Section benefits ***/

#benefits .col{
  width: calc(100% /3);
  /*debug*/
  min-height: 300px;
  border: 1px solid black;
}
#benefits .col .container{
  border: 1px dashed black;
  height: 100%;

}

/*** Section about-us ***/



#about-us .col-left{
  width:60%;  
}
#about-us .col-right{
  width:40%;  
}






/** FOOTER **/
#footer {
  min-height: var(--footer-height);
  background-color: rgb(51, 51, 51);
}
#footer .container{
 height: var(--footer-height);
}