:root {
  --header-height: 90px;
  --footer-height: 90px;
  
  
}

/** Reset **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}



/** Grid **/
.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*debug*/
  border: 1px dashed red;
}
.row{
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
 
  
}
.col{
  padding: 15px;
}





/** Utils **/

.dsp-flex{
  display: flex;
}
.card{
  
  width: 100%;
  /*debug*/
  min-height: 300px;
  border: 1px dashed black;

}


/** Debug **/
section{
  padding:50px 0;
  min-height: calc(100vh - var(--header-height))

}




/** HEADER **/
#header{
  min-height: var(--header-height);
  background-color: rgb(251, 133, 91);
}
#header .container{
  justify-content: space-between;
  align-items: center;
 
}
#header .logo,
#header .nav-bar{
  padding: 0 25px;
  height: var(--header-height);
  border: 1px solid black;
  line-height: var(--header-height);
 
}




/** MAIN **/


/*** Section demo-app ***/
#demo-app{
  background-color: rgb(153, 137, 137);
}
#demo-app .col.first{
  width: calc(100% / 3*2 );
}

#demo-app .col{
  width: calc(100% /3);
}

#demo-app .col.first .col{
  width: 50%;
  
  /*debug*/
  border: 1px solid red;

}


/*** Section planning ***/
#planning .row >.col{
  width: 50%;

}
#planning .container > .row {
  align-items: flex-end;
}
#planning .row.dsp-flex{
  flex-direction: column;
  
}
#planning .row.dsp-flex .col{
  width: 100%;
  
}


/*** Section testimonials ***/
#testimonials{
  background-color: rgb(161, 190, 190);
}
#testimonials .row{
  flex-direction: column;
}


/*** Section benefits ***/

#benefits .col{
  width: calc(100% /3);
  /*debug*/
  min-height: 300px;
  border: 1px solid black;
}
#benefits .col .container{
  border: 1px dashed black;
  height: 100%;

}

/*** Section about-us ***/

#about-us{
  background-color: rgb(170, 170, 215);
}

#about-us .col-left{
  width:60%;  
}
#about-us .col-right{
  width:40%;  
}






/** FOOTER **/
.footer {
  min-height: var(--footer-height);
  background-color: goldenrod;
}